.tabText {
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    background-color: rgba(0, 0, 0, 0.0);
    outline: none;
    cursor: default;
    /* caret-color: transparent; */
}
