.App{
    overflow: hidden;
    position: relative;
}




.graphView {
    width: 100vw;
    height: 100vh;   
    position: absolute;
    top: 0;
    left: 0;
}

.graphViewGrid{
    width: 100%;
    height: 100%;
    position: absolute;
    --grid-color: var(--secondary-color);
}

.debugOverlay, .debugSpaceOverlay {
    background-color: rgba(0,0,0,0.3);
    padding: 0.5em;
    
}

.debugOverlay {
    z-index: 90;
}

.graphViewTooltip{
    bottom: 1em;
    right: 0.5em;
    position: absolute;
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;

}

.nodeContextMenu{
    bottom: 1em;
    left: 0.5em;
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.0);;

    display: flex;
    flex-direction: row;
}

.debugSpaceOverlay {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.3em;
}

.graphSpace{
    width: 100%;
    height: 100%;
    transform-origin: top left;
    /* this one prop gives a smooth moving */
    /* using trainsition smooths panning, but it creates error in dispacement when zooming */
    /* transition-duration: 0.1s; */
}

.draggable{
    position: absolute;
}

/* popup search */
.search-popup .fuse-highlight{
    font-weight: bold;
}

.search-result{
    background-color: var(--background-color);
    border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
    padding-top: 0.2ex;
    padding-bottom: 0.2ex;
    padding-left: 1ch;
    padding-right: 1ch;
    min-height: fit-content;
}

.search-result:hover{
    background-color: color-mix(in srgb, var(--background-color) 50%, var(--secondary-color) 50%);

}

.search-group{
    background-color: var(--background-color);
}

.search-group-name{
    font-weight: bold;
}

.search-result-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 200px;
    border: 1px solid black;
    position: relative;
    background-color: var(--background-color);
}

/* #region Arrow*/
#arrows{
    width: 100%;
    height: 100%;

}

.nodeConnection > line.hiddenEdge,.nodeConnection > line.visibleEdge{
    cursor: pointer;
    pointer-events: visible;
}

.nodeConnection > line.hiddenEdge:hover + line.visibleEdge, .nodeConnection > line.visibleEdge:hover{
    filter: contrast(60%) drop-shadow(0 0 1px black);
}

svg.arrows.selectedEdge marker, .arrows.selectedEdge > line.visibleEdge{
    
    stroke: hsl(270, 100%, 50%) !important;
    fill: hsl(270, 100%, 50%) !important;
}



/* #endregion */

.transformCard{
    cursor: grab;
}

.dragging .transformCard{
    cursor: grabbing;
}
