.graphNode {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.circle {
    border-width: 5%;
    border-style: double;
    background-color: #ccc;
    width: 3.0vw;
    height: 3.0vw;
    border-radius: 50%;
    margin: 0 5% 0 5%;
}

.circle-top {
    top: -5px;
    border-color: #f00;

}

.connected-circle.circle-top{
    background-color: whitesmoke;

}

.circle-bottom {
    bottom: -5px;
    border-color: #0f0;
}

.non-selectable-circle{
    cursor: none;
    border-width: 2%;
    border-color: gray;
    pointer-events: none;
}

.connected-circle{
    pointer-events: none;
    cursor: none;
    width: 2.0em;
    height: 2.0em;
}

.image-boundaries {
    height: 30vh;
}

.selectedNode .transformCard{
    outline: solid 3px blue;
}

.transformCard {
    outline: solid 3px transparent;
    width: 400px;

    -webkit-box-shadow: 2px 15px 24px -14px black;
    -moz-box-shadow: 2px 15px 24px -14px black;
    box-shadow: 2px 15px 24px -14px black;
}

.transformCard:has(div.imageContainer){
    width: fit-content;
}

.info-tooltip-text {
    visibility: visible;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    left: 200px;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-container:hover .info-tooltip-text {
    opacity: 1;
}