:root {
  /* TODO: customize bootstrap dark/light mode paletes */

  --background-color: var(--bs-secondary-bg);
  --secondary-background-color: var(--bs-body-bg);

  /* text, without accent */
  --primary-color: var(--bs-primary-text-emphasis);
  /* icons, and accent */
  --secondary-color: var(--bs-secondary-text-emphasis);

}


html{
  color: var(--primary-color);
}


.resizableContainer {
  display: flex;
}

.resizableStyle {
  height: 100%;
}

.App {
  background-color: var(--background-color);
  height: 100vh;
}

.brandNav {
  background-color: var(--secondary-background-color);
  height: 3%;
}

.navModeButton {
  padding: 0 20px;
}


.navModeButton:hover{
  background-color: var(--secondary-color);
  color: var(--secondary-background-color);
}

.pipelineBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: lightgray;
  height: 2em;
}

.pipelineBar div {
  font-size: 1em !important;
  padding: 0.25%;
  padding-left: 1%;
}

button {
  border: none;
  background-color: none;
}

.floatingButton {
  position: absolute;
  z-index: 9999;
  top: 12%;
  left: 1%;
}

