.resizableContainer {
  display: flex;
}

.resizableStyle {
  height: 100%;
}

.App {
  background-color: #F5F8FA;
  height: 100vh;
}

.brandNav {
  background-color: white;
  height: 3%;
}

.pipelineBar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: lightgray;
  height: 2em;
}

.pipelineBar div {
  font-size: 1em !important;
  padding: 0.25%;
  padding-left: 1%;
}

button {
  border: none;
  background-color: none;
}


